body {
    background-color: #111;
    color: #EEE;
    font-family: 'Roboto Slab', serif;
  }
  
  .series-frame {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #EEE;
    margin: 30px;
    padding: 10px;
  }
  
  .series-frame2 {   
    background-color: #EEE;
    color: #111; 
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid rgb(91, 50, 206);
    margin: 30px;
    padding: 10px;
  }
  